<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
</head>
<body>
<h2>Product List</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Category</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.productName}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.brand.brandName}"></td>
        <td th:text="${product.category.categoryName}"></td>
    </tr>
</table>
</body>
</html>
